@import url('https://fonts.maateen.me/charu-chandan-3d/font.css');


/* Custom CSS Start */
body::selection {
    background-color: white;
    color: black;
}
.custom-sidebar {
    height: 100%;
    background-color: #444b6e;
    color: white;
    text-align: center;
    width: 350px;
    position: fixed;
}
h1:hover {
    color: white;
}
.font-3D {
    font-family: 'CharuChandan3D', 'sans-serif';
}
hr {
    border: 2px solid white;
    width: 350px;
}
.right-container {
    position: absolute;
    left: 350px;
    width: calc(100% - 350px);
}
.book-block-container {
    padding: 15%;
    background: lavender;
    font-size: 13px;
    margin: 15% 0 0 0;
    box-shadow: 0 0 40px #d1d1d1;
    border: 1px solid #e1e1e1;
}
.custom-search-bar {
    padding: 5% 4% 1% 4%;
    text-align: center;
}
.custom-form-control {
    outline: 0;
    border: 2px solid #444b6e;
    border-radius: 25px;
    padding: 10px;
    width: 80%;
    color: #444b6e;
    font-weight: 500;
}
.custom-btn {
    outline: 0;
    border: 2px solid #444b6e;
    border-radius: 25px;
    padding: 10px;
    width: 5%;
    color: #444b6e;
}
.custom-btn:hover {
    background-color: #444b6e;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: black;
}
/* Custom CSS End */

/* Media Query CSS Start */

/* Media Query CSS End */